# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/launch.json
wind_farm_model.code-workspace
.vscode/c_cpp_properties.json
main
.idea/

CMakeCache.txt
CMakeFiles/3.14.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.14.5/CMakeSystem.cmake
CMakeFiles/3.14.5/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.14.5/CMakeCXXCompiler.cmake
CMakeFiles/feature_tests.cxx
CMakeFiles/feature_tests.bin
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeOutput.log
build/cmake_install.cmake
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.14.5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.14.5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.14.5/CMakeSystem.cmake
build/CMakeFiles/3.14.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Progress/1
build/CMakeFiles/Progress/count.txt
build/CMakeFiles/main.dir/build.make
build/CMakeFiles/main.dir/cmake_clean.cmake
build/CMakeFiles/main.dir/CXX.includecache
build/CMakeFiles/main.dir/depend.internal
build/CMakeFiles/main.dir/depend.make
build/CMakeFiles/main.dir/DependInfo.cmake
build/CMakeFiles/main.dir/flags.make
build/CMakeFiles/main.dir/link.txt
build/CMakeFiles/main.dir/progress.make
windfarm.code-workspace
build/compile_commands.json
build/compile_commands.json
build/compile_commands.json
build/compile_commands.json
build/.cmake/api/v1/reply/target-main-Debug-3b3b0cea09338999fa99.json
build/.cmake/api/v1/reply/target-main-559e535bed12891fee55.json
build/.cmake/api/v1/reply/index-2020-03-21T17-19-51-0992.json
build/.cmake/api/v1/reply/codemodel-v2-1a63e7625668cb3500a9.json
build/.cmake/api/v1/reply/cache-v2-0d76366bd77114c52101.json
build/compile_commands.json
build/compile_commands.json
