# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/launch.json
wind_farm_model.code-workspace
.vscode/c_cpp_properties.json
main
.idea/

CMakeCache.txt
CMakeFiles/3.14.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.14.5/CMakeSystem.cmake
CMakeFiles/3.14.5/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.14.5/CMakeCXXCompiler.cmake
CMakeFiles/feature_tests.cxx
CMakeFiles/feature_tests.bin
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeOutput.log
